<%- include('../partials/header')%>
<div class="container mt-5 p-3">
    <ul>
        <li><a href="/education">Eduaction</a></li>
        <li><a href="/skill">Skill</a></li>
        <li><a href="/project">Project</a></li>
        <li><a href="/experience">Experience</a></li>
        <li><a href="/interest">Interest</a></li>
    </ul>
    <hr />
    <form action="/add-project" class="project mt-5 container" method="POST">
        <input type="text" placeholder="Title" name="title" />
        <input type="text" placeholder="Description" name="description" />
        <input type="text" placeholder="Technology" name="Technology" />
        <input type="text" placeholder="Link" name="link" />
        <button>Add Project</button>
    </form>
    <hr />
   <div class="d-flex flex-wrap">
        <% user.project.forEach((e, i)=> { %>
       <div class="card me-3 mb-3" style="width: 18rem">
            <div class="card-body">
                <h5 class="card-title"><%= e.title%></h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    <%= e.description%> - <%= e.technology%> | <%= e.link%>
                </h6>
                <a href="/delete-project/<%= i%>" class="card-link">Remove</a>
            </div>
        </div>
        <% })%>
    </div>
    
</div>

<%- include('../partials/footer')%>