<%- include('./partials/header')%>

<div class="container mt-5">
    <!-- <h3 class="fw-light fs-3">All Resumes</h3> -->

    <div class="resume shadow p-3">
        <page size="A4">
            <img
                height="100"
                width="100"
                style="object-fit: cover; border-radius: 50%"
                src="/images/<%= user.avatar%>"
                alt=""
            />
            <h1 class="fw-light fs-1"><%= user.username%></h1>
            <h5 class="fw-light fs-5"><%= user.email%></h5>
            <h6 class="fw-light fs-6"><%= user.contact%></h6>
            <hr />
            <h3 class="fw-light fs-3">Education</h3>
            <div class="d-flex flex-wrap">
                <% user.education.forEach((e, i)=> { %>
                <div class="card me-3 mb-3" style="width: 18rem">
                    <div class="card-body">
                        <h5 class="card-title"><%= e.degree%></h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <%= e.institute%> - <%= e.year%> | <%=
                            e.university%>
                        </h6>
                        <p class="card-text">CGPA/PERCENTAGE <%= e.grade%></p>
                    </div>
                </div>
                <% })%>
            </div>

              <hr />
              <h2 class="fw-light fs-3">Skill</h2>
            <div class="d-flex flex-wrap">
                <% user.skill.forEach((e, i)=> { %>
                <div class="card me-3 mb-3" style="width: 18rem">
                    <div class="card-body">
                        <h5 class="card-title"><%= e.title%></h5>
                    </div>
                </div>
                <% })%>
            </div>

            <hr />

            <h2 class="fw-light fs-3">Project</h2>
            <div class="d-flex flex-wrap">
                <% user.project.forEach((e, i)=> { %>
               <div class="card me-3 mb-3" style="width: 18rem">
                    <div class="card-body">
                        <h5 class="card-title"><%= e.title%></h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <%= e.description%> - <%= e.technology%> | <%= e.link%>
                        </h6>
                    </div>
                </div>
                <% })%>
            </div>
          
            <hr />

            <h2 class="fw-light fs-3">Experience</h2>   
            <div class="d-flex flex-wrap">
                <% user.experience.forEach((e, i)=> { %>
                <div class="card me-3 mb-3" style="width: 18rem">
                    <div class="card-body">
                        <h5 class="card-title"><%= e.company%></h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <%= e.designation%> - <%= e.duration%>
                        </h6>
                    </div>
                </div>
                <% })%>
            </div>
  
            <hr />
            
            <h2 class="fw-light fs-3">Interest</h2>
            <div class="d-flex flex-wrap">
                <% user.interest.forEach((e, i)=> { %>
                <div class="card me-3 mb-3" style="width: 18rem">
                    <div class="card-body">
                        <h5 class="card-title"><%= e.interest%></h5>
                    </div>
                </div>
                <% })%>
            </div>
        </page>
    </div>
    <button class="printbtn mt-5 btn btn-primary">Print</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link
    rel="stylesheet"
    href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.common.min.css"
/>
<script src="https://kendo.cdn.telerik.com/2017.1.223/js/jszip.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2017.1.223/js/kendo.all.min.js"></script>

<script>
    function getPDF(selector) {
        kendo.drawing.drawDOM($(selector)).then(function (group) {
            kendo.drawing.pdf.saveAs(group, "testing.pdf");
        });
    }
</script>
<script type="text/javascript">
    $(".printbtn").click(function () {
        getPDF(".resume");
    });
</script>

<%- include('./partials/footer')%>